$font-display: 1.6rem;
$color-primary-red: #ff523b;
$color-primary-red-dark: #563434;

// MEDIA QUERY
$bp-1k2: 1200px;
$bp-1k: 1000px;
$bp-8h: 800px;
$bp-6h: 600px;
$bp-5h: 500px;
$bp-4h: 400px;

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  line-height: 1.6;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  // scroll-behavior: smooth;

  @media (max-width: $bp-1k2) {
    font-size: 50%;
  }
  @media (max-width: $bp-6h) {
    font-size: 42.5%;
  }
}

body {
  font-family: "Poppins", sans-serif;
}
