.section {
  &__categories,
  &__products {
    padding: 10rem 5rem 10rem 5rem;
  }
  &__categories {
    padding-bottom: 0rem;
  }
}

.categories {
  &__row {
    max-width: 120rem;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 3rem;
    row-gap: 5rem;
  }
  &__col-3 {
    img {
      width: 100%;
      object-fit: cover;
      display: block;
    }
  }
}

.title-section {
  font-size: 3.25rem;
  font-weight: 500;
  position: relative;

  &::before {
    content: "";
    width: 35%;
    height: 3.5px;
    background-color: $color-primary-red;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
// PRODUCT SECTION
.product {
  &__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
    row-gap: 7rem;
    max-width: 120rem;
    margin: 0 auto;
    h3 {
      font-size: 2rem;
      font-weight: 400;
    }
    i {
      color: $color-primary-red;
    }
    p {
      font-size: 1.5rem;
    }
  }
  &__col-4 {
    img {
      width: 100%;
      object-fit: cover;
    }
    transition: all 0.5s;
    &:hover {
      transform: translateY(-5px);
    }
  }
}

//  OFFER
.section__offer {
  padding: 10rem 5rem;
  background-image: radial-gradient(#fff, #ffd6d6);
}

.offer {
  max-width: 110rem;
  margin: 0 auto;
  display: flex;
  align-items: center;

  &__img__container {
    flex-basis: 50%;
    img {
      display: block;
      object-fit: cover;
      align-self: flex-end;
      margin: auto;
      width: 100%;
    }
  }
  &__content {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: start;

    font-size: $font-display;
    h2 {
      font-size: 4.5rem;
      font-weight: 600;
      line-height: 1;
    }
    p {
      max-width: 50rem;
    }
    @media only screen and (max-width: $bp-6h) {
      gap: 1.25rem;
      font-size: 1.2rem;
      h2 {
        font-size: 2.5rem;
      }
    }
  }
}

// REVIEW
.section__review {
  padding: 10rem 5rem;
}

.review {
  &__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
    row-gap: 7rem;
    max-width: 100rem;
    margin: 0 auto;
  }
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 4rem 2.5rem;
    text-align: center;
    border-radius: 1rem;
    font-size: 1.2rem;

    box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: 0.2);
    transition: all 0.5s;

    &:hover {
      transform: translateY(-5px);
    }
    i {
      font-size: 4.5rem;
      color: $color-primary-red;
    }
    p {
      color: #777;
    }
    img {
      height: 6rem;
      border-radius: 50%;
    }
    h3 {
      font-weight: 600;
      color: #555;
    }
  }
  &__rating__box {
    i {
      font-size: 1rem;
    }
  }
}

.brand {
  max-width: 100rem;
  margin: 0 auto;
  margin-bottom: 10rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
  img {
    display: block;
    width: 12vw;
    filter: grayscale(100%);

    transition: all 0.3s;
    &:hover {
      filter: grayscale(0%);
    }
  }
}
// --------------------------FOOTER
.footer {
  padding: 10rem 5rem;
  background-color: #0e0e0e;
  &__row {
    max-width: 120rem;
    font-size: 1.2rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 3rem;
    color: white;
  }
  &__col-4 {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1.5rem;

    img {
      height: 5rem;
    }
  }
  &__heading {
    font-size: 2rem;
    font-weight: 600;
  }
  p {
    color: #b8b8b8;
    text-align: center;
  }
  &__download__img__box {
    display: flex;
    gap: 1rem;
    img {
      cursor: pointer;
      height: 4rem;
    }
  }
  &__link {
    &,
    &:visited,
    &:link {
      display: inline-block;
      color: #b8b8b8;
      text-decoration: none;
      transition: all 0.25s;

      &:hover {
        color: $color-primary-red;
      }
    }
    &__box {
      list-style: none;
      text-align: center;
    }
  }
  &__link__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 6rem;
  }
  &__copy {
    font-size: 1.5rem;
  }
}
