.header {
  background-image: radial-gradient(#fff, #ffd6d6);
  position: relative;
  padding-bottom: 5rem;
  @media (width >= 1200px) {
    height: 100vh;
  }

  &__row {
    margin-top: 8rem;

    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
    // align-items: center;
    // justify-items: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  &__column {
    &-1 {
      flex-basis: 50%;
      min-width: 50rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: start;
      @media only screen and (max-width: $bp-4h) {
        align-items: center;
        text-align: center;
        min-width: 28rem;
      }
      h1 {
        max-width: 48rem;

        font-size: 5rem;
        line-height: 1.2;
        text-transform: capitalize;
        font-weight: 600;
        @media only screen and (max-width: $bp-6h) {
          font-size: 3.5rem;
        }
      }
    }
    &-2 {
      flex-basis: 50%;
      min-width: 35rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
  }
}
.container {
  margin: 0 auto;
  max-width: 130rem;
  padding: 0 5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  > * {
    font-size: $font-display;
  }
}

.navbar {
  display: flex;
  align-items: center;
  padding: 3rem 0 0 0;
  img {
    height: 4rem;
  }
}

.cart {
  cursor: pointer;
  margin-left: 1.5rem;
  // transform: translateX(-6rem);
}

.menu {
  margin-left: 1.5rem;
  cursor: pointer;
  display: none;
  position: fixed;
  top: 3.5rem;
  right: 5rem;
}

.logo {
  height: 4rem;
  margin-right: auto;
}

.navigation {
  &__list {
    display: flex;
    align-items: center;
    gap: 2rem;
    row-gap: 1rem;
    list-style: none;
  }
  &__link {
    cursor: pointer;

    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 1.5rem;
    padding-bottom: 0.35rem;
    &,
    &:link,
    &:visited {
      color: black;
    }
    img {
      height: 3rem;
    }
    &::before {
      content: "";
      width: 0;
      height: 1.5px;
      background-color: $color-primary-red;

      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      transition: all 0.5s;
    }
    &:hover::before {
      width: 100%;
    }
  }
}
.icon__x {
  cursor: pointer;
  position: absolute;
  font-size: 3rem;
  top: 3rem;
  right: 3rem;
  opacity: 0;
}

a {
  display: inline-block;
}

// ------------ MEDIA QUERY FOR MENU
@media (max-width: $bp-8h) {
  .cart {
    transform: translateX(-6rem);
  }
  .icon__x {
    opacity: 1;
    font-size: 2rem;
    color: white;
  }
  .menu {
    display: inline-block;
  }
  .navigation {
    &__list {
      position: fixed;
      top: 0;
      right: 0;
      background-color: $color-primary-red;
      color: white;
      width: 20rem;
      height: 100%;
      padding: 10rem 10rem 0 5rem;
      flex-direction: column;
      z-index: 3;
      transform: translateX(100%);

      transition: all 0.5s;
    }
  }

  .navigation__link {
    &,
    &:link,
    &:visited {
      color: #fff;
      &::before {
        background-color: #fff;
      }
    }
  }
}
