.btn {
  text-decoration: none;
  display: inline-block;
  border: none;
  color: $color-primary-red;
  border-radius: 30px;
  padding: 0.5rem 2.5rem;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    $color-primary-red 50%
  );
  background-size: 220%;
  cursor: pointer;

  transition: all 0.5s;

  &:hover {
    color: #fff;
    background-position: 100%;
  }
}

.center-text {
  width: 100%;
  display: grid;
  place-items: center;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 4rem;
}

.mb-large {
  margin-bottom: 6rem;
}

.mb-big {
  margin-bottom: 8rem;
}

.mt-sm {
  margin-top: 2rem;
}

.mt-md {
  margin-top: 4rem;
}

.mt-large {
  margin-top: 6rem;
}

.mt-big {
  margin-top: 8rem;
}

.show-nav {
  transform: translateX(0);
}
