* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  line-height: 1.6;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 42.5%;
  }
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  background-image: radial-gradient(#fff, #ffd6d6);
  position: relative;
  padding-bottom: 5rem;
}
@media (width >= 1200px) {
  .header {
    height: 100vh;
  }
}
.header__row {
  margin-top: 8rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.header__column-1 {
  flex-basis: 50%;
  min-width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: start;
}
@media only screen and (max-width: 400px) {
  .header__column-1 {
    align-items: center;
    text-align: center;
    min-width: 28rem;
  }
}
.header__column-1 h1 {
  max-width: 48rem;
  font-size: 5rem;
  line-height: 1.2;
  text-transform: capitalize;
  font-weight: 600;
}
@media only screen and (max-width: 600px) {
  .header__column-1 h1 {
    font-size: 3.5rem;
  }
}
.header__column-2 {
  flex-basis: 50%;
  min-width: 35rem;
}
.header__column-2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.container {
  margin: 0 auto;
  max-width: 130rem;
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container > * {
  font-size: 1.6rem;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 3rem 0 0 0;
}
.navbar img {
  height: 4rem;
}

.cart {
  cursor: pointer;
  margin-left: 1.5rem;
}

.menu {
  margin-left: 1.5rem;
  cursor: pointer;
  display: none;
  position: fixed;
  top: 3.5rem;
  right: 5rem;
}

.logo {
  height: 4rem;
  margin-right: auto;
}

.navigation__list {
  display: flex;
  align-items: center;
  gap: 2rem;
  row-gap: 1rem;
  list-style: none;
}
.navigation__link {
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: 1.5rem;
  padding-bottom: 0.35rem;
}
.navigation__link, .navigation__link:link, .navigation__link:visited {
  color: black;
}
.navigation__link img {
  height: 3rem;
}
.navigation__link::before {
  content: "";
  width: 0;
  height: 1.5px;
  background-color: #ff523b;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s;
}
.navigation__link:hover::before {
  width: 100%;
}

.icon__x {
  cursor: pointer;
  position: absolute;
  font-size: 3rem;
  top: 3rem;
  right: 3rem;
  opacity: 0;
}

@media (max-width: 800px) {
  .cart {
    transform: translateX(-6rem);
  }
  .icon__x {
    opacity: 1;
    font-size: 2rem;
    color: white;
  }
  .menu {
    display: inline-block;
  }
  .navigation__list {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #ff523b;
    color: white;
    width: 20rem;
    height: 100%;
    padding: 10rem 10rem 0 5rem;
    flex-direction: column;
    z-index: 3;
    transform: translateX(100%);
    transition: all 0.5s;
  }
  .navigation__link, .navigation__link:link, .navigation__link:visited {
    color: #fff;
  }
  .navigation__link::before, .navigation__link:link::before, .navigation__link:visited::before {
    background-color: #fff;
  }
}
.btn {
  text-decoration: none;
  display: inline-block;
  border: none;
  color: #ff523b;
  border-radius: 30px;
  padding: 0.5rem 2.5rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #ff523b 50%);
  background-size: 220%;
  cursor: pointer;
  transition: all 0.5s;
}
.btn:hover {
  color: #fff;
  background-position: 100%;
}

.center-text {
  width: 100%;
  display: grid;
  place-items: center;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 4rem;
}

.mb-large {
  margin-bottom: 6rem;
}

.mb-big {
  margin-bottom: 8rem;
}

.mt-sm {
  margin-top: 2rem;
}

.mt-md {
  margin-top: 4rem;
}

.mt-large {
  margin-top: 6rem;
}

.mt-big {
  margin-top: 8rem;
}

.show-nav {
  transform: translateX(0);
}

.section__categories, .section__products {
  padding: 10rem 5rem 10rem 5rem;
}
.section__categories {
  padding-bottom: 0rem;
}

.categories__row {
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 3rem;
  row-gap: 5rem;
}
.categories__col-3 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.title-section {
  font-size: 3.25rem;
  font-weight: 500;
  position: relative;
}
.title-section::before {
  content: "";
  width: 35%;
  height: 3.5px;
  background-color: #ff523b;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.product__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem;
  row-gap: 7rem;
  max-width: 120rem;
  margin: 0 auto;
}
.product__row h3 {
  font-size: 2rem;
  font-weight: 400;
}
.product__row i {
  color: #ff523b;
}
.product__row p {
  font-size: 1.5rem;
}
.product__col-4 {
  transition: all 0.5s;
}
.product__col-4 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product__col-4:hover {
  transform: translateY(-5px);
}

.section__offer {
  padding: 10rem 5rem;
  background-image: radial-gradient(#fff, #ffd6d6);
}

.offer {
  max-width: 110rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.offer__img__container {
  flex-basis: 50%;
}
.offer__img__container img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  align-self: flex-end;
  margin: auto;
  width: 100%;
}
.offer__content {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: start;
  font-size: 1.6rem;
}
.offer__content h2 {
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 1;
}
.offer__content p {
  max-width: 50rem;
}
@media only screen and (max-width: 600px) {
  .offer__content {
    gap: 1.25rem;
    font-size: 1.2rem;
  }
  .offer__content h2 {
    font-size: 2.5rem;
  }
}

.section__review {
  padding: 10rem 5rem;
}

.review__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem;
  row-gap: 7rem;
  max-width: 100rem;
  margin: 0 auto;
}
.review__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 4rem 2.5rem;
  text-align: center;
  border-radius: 1rem;
  font-size: 1.2rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
}
.review__box:hover {
  transform: translateY(-5px);
}
.review__box i {
  font-size: 4.5rem;
  color: #ff523b;
}
.review__box p {
  color: #777;
}
.review__box img {
  height: 6rem;
  border-radius: 50%;
}
.review__box h3 {
  font-weight: 600;
  color: #555;
}
.review__rating__box i {
  font-size: 1rem;
}

.brand {
  max-width: 100rem;
  margin: 0 auto;
  margin-bottom: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.brand img {
  display: block;
  width: 12vw;
  filter: grayscale(100%);
  transition: all 0.3s;
}
.brand img:hover {
  filter: grayscale(0%);
}

.footer {
  padding: 10rem 5rem;
  background-color: #0e0e0e;
}
.footer__row {
  max-width: 120rem;
  font-size: 1.2rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3rem;
  color: white;
}
.footer__col-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.footer__col-4 img {
  height: 5rem;
}
.footer__heading {
  font-size: 2rem;
  font-weight: 600;
}
.footer p {
  color: #b8b8b8;
  text-align: center;
}
.footer__download__img__box {
  display: flex;
  gap: 1rem;
}
.footer__download__img__box img {
  cursor: pointer;
  height: 4rem;
}
.footer__link, .footer__link:visited, .footer__link:link {
  display: inline-block;
  color: #b8b8b8;
  text-decoration: none;
  transition: all 0.25s;
}
.footer__link:hover, .footer__link:visited:hover, .footer__link:link:hover {
  color: #ff523b;
}
.footer__link__box {
  list-style: none;
  text-align: center;
}
.footer__link__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 6rem;
}
.footer__copy {
  font-size: 1.5rem;
}/*# sourceMappingURL=main.css.map */